<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gan.keepsafe" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".atys.AtyGuide"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atys.AtyHome"
            android:label="@string/title_activity_aty_home" >
        </activity>
        <activity
            android:name=".atys.AtySetting"
            android:label="@string/title_activity_aty_setting" >
        </activity>
        <activity
            android:name=".atys.AtyLostFind"
            android:label="@string/title_activity_aty_safe" >
        </activity>
        <activity
            android:name=".atys.AtySetup1"
            android:label="@string/title_activity_aty_setup1" >
        </activity>
        <activity
            android:name=".atys.AtySetup2"
            android:label="@string/title_activity_aty_setup2" >
        </activity>
        <activity
            android:name=".atys.AtySetup3"
            android:label="@string/title_activity_aty_setup3" >
        </activity>
        <activity
            android:name=".atys.AtySetup4"
            android:label="@string/title_activity_aty_setup4" >
        </activity>

        <receiver
            android:name=".receiver.ReceiverBoot"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".atys.AtyContact"
            android:label="@string/title_activity_aty_contact" >
        </activity>
    </application>

</manifest>
